In [1]:
# Ejercicios

# Usando el archivo data/parsed.csv y el material de este capítulo, complete los siguientes ejercicios para practicar sus habilidades con pandas:
import pandas as pd
import numpy as np

In [2]:
equakes=pd.read_csv('data/parsed.csv')

In [3]:
equakes.columns

Index(['alert', 'cdi', 'code', 'detail', 'dmin', 'felt', 'gap', 'ids', 'mag',
       'magType', 'mmi', 'net', 'nst', 'place', 'rms', 'sig', 'sources',
       'status', 'time', 'title', 'tsunami', 'type', 'types', 'tz', 'updated',
       'url', 'parsed_place'],
      dtype='object')

In [4]:
equakes['ID']=equakes.reset_index().index
equakes.columns

Index(['alert', 'cdi', 'code', 'detail', 'dmin', 'felt', 'gap', 'ids', 'mag',
       'magType', 'mmi', 'net', 'nst', 'place', 'rms', 'sig', 'sources',
       'status', 'time', 'title', 'tsunami', 'type', 'types', 'tz', 'updated',
       'url', 'parsed_place', 'ID'],
      dtype='object')

In [5]:
equakes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9332 entries, 0 to 9331
Data columns (total 28 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   alert         59 non-null     object
 1   cdi           329 non-null    float64
 2   code          9332 non-null   object
 3   detail        9332 non-null   object
 4   dmin          6139 non-null   float64
 5   felt          329 non-null    float64
 6   gap           6164 non-null   float64
 7   ids           9332 non-null   object
 8   mag           9331 non-null   float64
 9   magType       9331 non-null   object
 10  mmi           93 non-null     float64
 11  net           9332 non-null   object
 12  nst           5364 non-null   float64
 13  place         9332 non-null   object
 14  rms           9332 non-null   float64
 15  sig           9332 non-null   int64
 16  sources       9332 non-null   object
 17  status        9332 non-null   object
 18  time          9332 non-null   int64
 19  title         9332 non-null   object
 20  tsunami       9332 non-null   int64
 21  type          9332 non-null   object
 22  types         9332 non-null   object
 23  tz            9331 non-null   float64
 24  updated       9332 non-null   int64
 25  url           9332 non-null   object
 26  parsed_place  9332 non-null   object
 27  ID            9332 non-null   int64
dtypes: float64(9), int64(5), object(14)
memory usage: 2.0+ MB

In [6]:
# 1. Encuentre el percentil 95 de la magnitud del terremoto en Japón usando el mb tipo de magnitud.
'mb' in equakes.magType.unique()

True

In [7]:
'Japan' in equakes.parsed_place.unique()

True

In [8]:
np.percentile(equakes.query('magType=="mb" and parsed_place=="Japan"')['mag'],95)

4.9

In [9]:
# 2. Encuentra el porcentaje de terremotos en Indonesia que fueron acompañados de tsunamis.
equakes.tsunami.unique()

array([0, 1], dtype=int64)

In [10]:
100*sum(equakes.query('parsed_place=="Indonesia"')['tsunami']==1)/len(equakes.query('parsed_place=="Indonesia"')['tsunami'])

23.12925170068027

In [11]:
equake_Indonesia=equakes.query('parsed_place=="Indonesia"')

tabla=100*pd.crosstab(index=equake_Indonesia.parsed_place,
            columns=equake_Indonesia.tsunami,
            values=equake_Indonesia.ID,
            aggfunc='count',
            normalize=True
)
tabla.columns=['No','Si']
tabla

                     No         Si
parsed_place
Indonesia     76.870748  23.129252

In [12]:
tabla['Si']

parsed_place
Indonesia    23.129252
Name: Si, dtype: float64

In [13]:
# 3. Calcular las estadísticas resumidas de los terremotos en Nevada.
equake_Nevada=equakes.query('parsed_place=="Nevada"')

#4. Calcular las estadísticas resumidas de los terremotos en Nevada quitando las columnas tipo objeto
equake_Nevada.select_dtypes(exclude=["object"]).describe()

,cdi,dmin,felt,gap,mag,mmi,nst,rms,sig,time,tsunami,tz,updated,ID
count,15.000000,681.000000,15.000000,681.000000,681.000000,1.00,681.000000,681.000000,681.000000,6.810000e+02,681.0,681.0,6.810000e+02,681.000000
mean,2.440000,0.166199,2.400000,153.668120,0.500073,2.84,12.618209,0.151986,10.970631,1.538314e+12,0.0,-480.0,1.538402e+12,4521.019090
std,0.501142,0.166228,4.626013,68.735302,0.696710,NaN,9.866963,0.084662,19.607150,5.965637e+08,0.0,0.0,6.010951e+08,2639.283749
min,2.000000,0.001000,1.000000,29.140000,-0.500000,2.84,3.000000,0.000500,0.000000,1.537247e+12,0.0,-480.0,1.537307e+12,32.000000
25%,2.000000,0.053000,1.000000,97.380000,-0.100000,2.84,6.000000,0.106900,0.000000,1.537854e+12,0.0,-480.0,1.537928e+12,2128.000000
50%,2.200000,0.112000,1.000000,149.140000,0.400000,2.84,10.000000,0.146300,2.000000,1.538280e+12,0.0,-480.0,1.538428e+12,4490.000000
75%,2.900000,0.233000,1.000000,199.720000,0.900000,2.84,16.000000,0.187100,12.000000,1.538821e+12,0.0,-480.0,1.538878e+12,6736.000000
max,3.300000,1.414000,19.000000,355.910000,2.900000,2.84,61.000000,0.863400,129.000000,1.539461e+12,0.0,-480.0,1.539483e+12,9253.000000

In [14]:
# 4. Añade una columna indicando si el terremoto ocurrió en un país o estado de EEUU que se encuentre en el Cinturón de Fuego. Utiliza Alaska, Antártida (busca Antarctic), Bolivia,
# California, Canadá, Chile, Costa Rica, Ecuador, Fiyi, Guatemala, Indonesia, Japón, Islas Kermadec, México (tenga cuidado de no seleccionar Nuevo México), Nueva Zelanda, Perú, Filipinas, Rusia, Taiwán, Tonga y Washington.


Cinturon_Fuego = ['Alaska', 'Antarctic', 'Bolivia', 'California', 'Canadá', 'Chile', 'Costa Rica', 'Ecuador', 'Fiyi', 'Guatemala', 'Indonesia', 
                  'Japón', 'Islas Kermadec', 'México', 'Nueva Zelanda', 'Perú', 'Filipinas', 'Rusia', 'Taiwán', 'Tonga', 'Washington']

equakes['Cinturon_Fuego']=equakes.parsed_place.isin(Cinturon_Fuego)

In [15]:
# 5. Calcula el número de terremotos en los lugares del Cinturón de Fuego y el número fuera de ellos.

Terremotos_CF=pd.crosstab(index='nº de Terremotos',values='ID',columns=equakes.Cinturon_Fuego,aggfunc='count', normalize=False,margins=True,margins_name='Total')
Terremotos_CF.columns=['Fuera de CF','En CF','Totales']
Terremotos_CF.index.name='nº de Terremotos'
Terremotos_CF

                  Fuera de CF  En CF  Totales
nº de Terremotos
nº de Terremotos         2444   6888     9332
Total                    2444   6888     9332

In [16]:
# Por ubicación:
Tabla2=pd.pivot_table(equakes, index=equakes.parsed_place,columns=equakes.Cinturon_Fuego, values='ID', aggfunc='count').fillna(0)
Tabla2.columns=['Fuera del CF','Dentro del CF']
Tabla2.index.name='Ubicación'

In [17]:
fila_totales=Tabla2.sum(axis=0).to_frame()
fila_totales.columns=['Totales']
pd.concat([Tabla2,fila_totales.T],ignore_index=False)

                                Fuera del CF  Dentro del CF
Afghanistan                              6.0            0.0
Alaska                                   0.0         3665.0
Argentina                               11.0            0.0
Arizona                                  2.0            0.0
Arkansas                                 3.0            0.0
...                                      ...            ...
Western Indian-Antarctic Ridge           1.0            0.0
Western Xizang                           1.0            0.0
Wyoming                                 42.0            0.0
Yemen                                    1.0            0.0
Totales                               2444.0         6888.0

[111 rows x 2 columns]

In [18]:
# 6. Calcula el número de tsunamis a lo largo del Cinturón de Fuego.

In [19]:
sum(equakes[equakes.Cinturon_Fuego]['tsunami'])

40

In [20]:
Tsunamis_CF=pd.pivot_table(data=equakes[equakes.Cinturon_Fuego],index='parsed_place',values='ID',columns= 'tsunami',aggfunc='count',margins=True,margins_name='Total').fillna(0)
Tsunamis_CF.columns=['Terremoto sin tsunamis','Terremoto con tsunamis','Totales']
Tsunamis_CF.index.name='Región'
Tsunamis_CF

            Terremoto sin tsunamis  Terremoto con tsunamis  Totales
Región
Alaska                      3660.0                     5.0     3665
Bolivia                        4.0                     0.0        4
California                  2860.0                     1.0     2861
Chile                         31.0                     0.0       31
Costa Rica                     1.0                     0.0        1
Ecuador                        3.0                     0.0        3
Guatemala                      2.0                     0.0        2
Indonesia                    113.0                    34.0      147
Tonga                         17.0                     0.0       17
Washington                   157.0                     0.0      157
Total                       6848.0                    40.0     6888