![imagen](./img/ejercicios.png)

## Ejercicio 1
Dada la siguiente lista:
> ```ejer_1 = [1,2,3,4,5]```

Inviértela para que quede de la siguiente manera
> ```ejer_1 = [5,4,3,2,1]```

In [2]:
ejer_1 = [1,2,3,4,5]
ejer_1.reverse()
ejer_1

[5, 4, 3, 2, 1]

## Ejercicio 2
Eleva todos los elementos de la lista al cuadrado
> ```ejer_2 = [1,2,3,4,5]```

In [5]:
ejer_2 = [1,2,3,4,5]
[x**2 for x in ejer_2]

[1, 4, 9, 16, 25]

## Ejercicio 3
Crea una lista nueva con todas las combinaciones de las siguientes dos listas:
> ```ejer_3_1 = ["Hola", "amigo"]```
>
> ```ejer_3_2 = ["Que", "tal"]```

Obten el siguiente output:

['Hola Que', 'Hola tal', 'amigo Que', 'amigo tal']

In [16]:
ejer_3_1 = ["Hola", "amigo"]
ejer_3_2 = ["Que", "tal"]
[" ".join([x,y])  for x in ejer_3_1 for y in ejer_3_2 ]

['Hola Que', 'Hola tal', 'amigo Que', 'amigo tal']

## Ejercicio 4
Dada la siguiente lista, encuentra el índice del valor 45 y sustitúyelo por el 0
> ```ejer_4 = [20, 47, 19, 29, 45, 67, 78, 90]```

In [20]:
ejer_4 = [20, 47, 19, 29, 45, 67, 78, 90]
ejer_4.index(45)
ejer_4[ejer_4.index(45)]=0
ejer_4

[20, 47, 19, 29, 0, 67, 78, 90]

## Ejercicio 5
Dada la siguiente lista, elimina todos los valores iguales a 3
> ```ejer_5 = [3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]```

TIP: No intentes eliminar elementos sobre la lista que estás iterando. Haz una copia con `ejer_5.copy()`.

In [22]:
ejer_5 = [3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]
[x for x in ejer_5 if x!=3]

[20, 47, 19, 29, 45, 67, 78, 90]

## Ejercicio 6
1. Crea una tupla con 3 elementos
2. Crea otra tupla con un elemento y comprueba su tipo
3. Crea una tupla con elementos de diferentes tipos
4. Imprime por pantalla el primer y ultimo elemento de la tupla del apartado 3. Usa `len` para el ultimo
5. Añade un elemento a la tupla del apartado 3.
6. Eliminar un elemento de la tupla del apartado 5, que se encuentre más o menos en la mitad.
7. Convierte la tupla del apartado 5 en una lista

In [67]:
tupla=(1,3,5)
unatupla=(1,)

tupla2=(1,"o",[2,4],20,30,4,6,7,8)

print(f"Inicio:{tupla2[0]}, final: {tupla2[len(tupla2)-1]}")

Inicio:1, final: 8

In [ ]:
tupla2.__add__((2,))
tuple(list(tupla2).pop(int(len(tupla2)/2)))

In [68]:
indice_a_eliminar = len(tupla2) // 2

tupla_sin_elemento = tuple([elemento for i, elemento in enumerate(tupla2) if i != indice_a_eliminar])

print(tupla_sin_elemento)

(1, 'o', [2, 4], 20, 4, 6, 7, 8)

In [69]:
list(tupla_sin_elemento)

[1, 'o', [2, 4], 20, 4, 6, 7, 8]

## Ejercicio 7
Concatena todos los elementos de la tupla en un unico string. Para ello utiliza el metodo `.join()` de los Strings
> ```ejer_7 = ("cien", "cañones", "por", "banda")```

Resultado: `cien cañones por banda`

In [71]:
ejer_7 = ("cien", "cañones", "por", "banda")
" ".join(ejer_7)

'cien cañones por banda'

## Ejercicio 8
Obten el tercer elemento de la siguiente tupla, y el tercero empezando por la cola
> ```ejer_8 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3)```

In [76]:
ejer_8 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3)
print(ejer_8[2],ejer_8[-3])

3 90

## Ejercicio 9
1. ¿Cuántas veces se repite el 3 en la siguiente tupla?
2. Crea una tupla nueva con los elementos desde la posicion 5 a la 10.
3. ¿Cuántos elementos tiene la tupla `ejer_9`?
> ```ejer_9 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7)```

In [80]:
ejer_9 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7)

26

In [81]:
ejer_9.count(3)

7

In [83]:
ejer_9[4:10]

(19, 3, 29, 45, 67, 78)

In [84]:
len(ejer_9)

26

## Ejercicio 10
Comprueba si el numero 60 esta en la tupla del ejercicio 9

In [123]:
pos=[i for i,val in enumerate(ejer_9) if val==60]
if len(pos)>0:
    print("Comprobado. Está en la posiciones" + str(pos))
else:
    print("No se encuentra")

No se encuentra

## Ejercicio 11
1. Convierte la tupla del apartado 10 en una lista
2. Convierte la tupla del apartado 10 en un set
3. Convierte la tupla del apartado 10 en un diccionario. Usa también los indices

In [125]:
# Supongo que es la tupla del ejercicio 9
list(ejer_9)

{2, 3, 4, 5, 6, 7, 9, 19, 20, 29, 45, 47, 67, 78, 90}

In [ ]:
set(ejer_9)

In [132]:
{i:val for i, val in enumerate(ejer_9)}

{0: 3,
 1: 20,
 2: 3,
 3: 47,
 4: 19,
 5: 3,
 6: 29,
 7: 45,
 8: 67,
 9: 78,
 10: 90,
 11: 3,
 12: 3,
 13: 5,
 14: 2,
 15: 4,
 16: 7,
 17: 9,
 18: 4,
 19: 2,
 20: 4,
 21: 3,
 22: 3,
 23: 4,
 24: 6,
 25: 7}

## Ejercicio 12
Convierte la siguiente lista en un diccionario
> ```ejer_12 = [("x", 1), ("x", 2), ("x", 3), ("y", 1), ("y", 2), ("z", 1)]```

TIP: Puedes usar dos variables de control en un bucle `for`. Una por cada valor de las tuplas.

In [133]:
ejer_12 = [("x", 1), ("x", 2), ("x", 3), ("y", 1), ("y", 2), ("z", 1)]

In [168]:
dct=dict()
#inicializamos el diccionario para meter luego valores
for idx in sorted(set([val[0] for i, val in enumerate(ejer_12)])):
    dct[idx]=list()
#rellenamos los valores
for i, val in enumerate(ejer_12):
    dct[val[0]].append(val[1])
dct

{'x': [1, 2, 3], 'y': [1, 2], 'z': [1]}

## Ejercicio 13
1. Crea una lista ordenada ascendente con las claves del diccionario
2. Crea otra lista ordenada descendente con los valores
3. Añade una nueva clave/valor
4. Busca la clave con el valor de 2 dentro del diccionario
5. Itera la clave y el valor del diccionario con un unico for
> ```ejer_13 = {4:78, 2:98, 8:234, 5:29}```

In [169]:
ejer_13 = {4:78, 2:98, 8:234, 5:29}

In [174]:
#1. Crea una lista ordenada ascendente con las claves del diccionario
sorted(list(ejer_13.keys()))

[2, 4, 5, 8]

In [175]:
#2. Crea otra lista ordenada descendente con los valores
sorted(list(ejer_13.values()),reverse=True)

[234, 98, 78, 29]

In [178]:
#3. Añade una nueva clave/valor
ejer_13[1]=18
ejer_13

{4: 78, 2: 98, 8: 234, 5: 29, 1: 18}

In [211]:
#4. Busca la clave con el valor de 2 dentro del diccionario
ejer_13.get(2)

98

In [213]:
val=98
idxval = [clave for clave, valor in ejer_13.items() if valor == val]
idxval

[2]

In [216]:
#5. Itera la clave y el valor del diccionario con un unico for
for clave, valor in ejer_13.items():
    print(clave,"=>",valor)

4 => 78
2 => 98
8 => 234
5 => 29
1 => 18

## Ejercicio 14
Junta ambos diccionarios. Para ello, utiliza `update`
> ```ejer_14_1 = {1: 11, 2: 22}```
>
> ```ejer_14_2 = {3: 33, 4: 44}```

In [207]:
ejer_14_1 = {1: 11, 2: 22}
ejer_14_2 = {3: 33, 4: 44}
ejer_14_1.update(ejer_14_2)
ejer_14_1

{1: 11, 2: 22, 3: 33, 4: 44}

## Ejercicio 15
Suma todos los valores del dicionario
> ```ejer_15 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}```

In [203]:
ejer_15 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}
sum(ejer_15.values())

165

## Ejercicio 16
Multiplica todos los valores del diccionario
> ```ejer_16 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}```

In [215]:
ejer_16 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}
resultado=1
for clave, valor in ejer_16.items():
    resultado=resultado*valor
print(resultado)

19326120

## Ejercicio 17
1. Crea un set de tres elementos
2. Añade un cuarto
3. Elimina el utlimo elemento añadido
4. Elimina el elemento 10, si está presente. Usa `discard()`

In [255]:
#1. Crea un set de tres elementos
sett={2,3,4}

In [256]:
#2. Añade un cuarto
sett.add(99)
sett

{2, 3, 4, 99}

In [257]:
#3. Elimina el ultimo elemento añadido
sett.pop()
sett

{2, 3, 4}

In [220]:
#4. Elimina el elemento 10, si está presente. Usa `discard()`
sett.discard(10)