# Python | day 2 | collections

Lists, tuples & sets

### Ejercicio 1.

1. Crea
    - una variable de tipo lista llamada **lista_alumnos** que contenga el nombre de tus compañeros de clase.
    - 4 listas diferentes que contengan los nombres de los compañeros sentados en cada mesa de la clase más los que siguen a la clase en remoto.  
    
Si ya no estás en clase y no recuerdas cómo estaba distribuida la clase, utiliza los nombres de tus compañeros y haz 4 listas diferentes con ellos.

Imprime las dos listas creadas.

In [11]:
lista_alumnos=['Federico','Pablo','Sol', 'Juan', 'Pedro','Angel',"Yaiza","Liz","Maria","Ximena","Alvaro","Jose","Pepe","Iago","Petrus",'Pedro2','Angel2',"Yaiza2","Liz2","Maria2"]
lista1=lista_alumnos[0:4]
lista2=lista_alumnos[4:8]
lista3=lista_alumnos[8:12]
lista4=lista_alumnos[12:16]
remoto=lista_alumnos[16:]
print("Los alumnos que están en clase son: ", ",".join(lista1+lista2+lista3+lista4),"y los que están en remoto son",",".join(remoto))

Los alumnos que están en clase son:  Federico,Pablo,Sol,Juan,Pedro,Angel,Yaiza,Liz,Maria,Ximena,Alvaro,Jose,Pepe,Iago,Petrus,Pedro2 y los que están en remoto son Angel2,Yaiza2,Liz2,Maria2

### Ejercicio 2

1. Crea una lista vacía, llámala **lista_vacía**.

In [ ]:
lista_vacia = []

2. Crea una lista con 5 elementos, llámala **mi_lista**.

In [12]:
mi_lista=range(5)

3. Hallar la longitud de **mi_lista**

In [13]:
len(mi_lista)

5

4. Obtener el primer elemento, el elemento central y el último elemento de **mi_lista**.

In [17]:
print(mi_lista[0],mi_lista[len(mi_lista)//2],mi_lista[-1])

0 2 4

5. Declarar
    - una variable **nombre** y asignarle un valor
    - una variable **edad** y asignarle un valor
    - una variable **altura** y asignarle un valor
    - una variable **país** y asignarle un valor
    - una variable **python_version** y asignarle un valor

In [19]:
nombre='Angel Rodrigo'
edad=48
altura=1.90
pais='España'
python_version='3.11.5'

6. Crea una lista llamada **tipos_de_datos_mezclados** con tu nombre, edad, altura, país y versión_de_ python.

In [20]:
tipos_de_datos_mezclados=[nombre, edad,altura,pais,python_version]

7. Declara una variable de lista llamada **it_companies** y asígnale los valores iniciales Facebook, Google, Microsoft, Apple, IBM, Oracle y Amazon.

In [22]:
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

8. Imprime **it_companies** usando print()

In [23]:
print(*it_companies)

Facebook Google Microsoft Apple IBM Oracle Amazon

9. Imprimir el número de empresas de la lista

In [24]:
print('El numero de empresas it es de ',len(it_companies),"empresas")

El numero de empresas it es de  7 empresas

11. imprimir *Google

In [25]:
print('*Google')

*Google

10. Imprima el nombre, el segundo nombre y el apellido de la empresa

In [ ]:
print(nombre,segundo_nombre,apellido,sep="|")

11. Asignar un nuevo valor al último elemento de la lista

In [26]:
it_companies.append("Google")

12. Imprimir la lista después de modificar una de las empresas

In [27]:
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Google']

## Bonus track.

13. Añadir una empresa de TI a **it_companies**.

In [28]:
it_companies.append("OpenAI")

14. Compruebe si *Apple* existe en la lista **it_companies**.

In [29]:
'Apple' in it_companies

True

15. Ordena la lista utilizando el método `sort()`.

In [33]:
sorted(it_companies)
it_companies.sort()
print(it_companies)

['Amazon', 'Apple', 'Facebook', 'Google', 'Google', 'IBM', 'Microsoft', 'OpenAI', 'Oracle']

16. Invierte la lista en orden descendente utilizando el método `reverse()`.

In [36]:
it_companies.reverse()
print(it_companies)

['Oracle', 'OpenAI', 'Microsoft', 'IBM', 'Google', 'Google', 'Facebook', 'Apple', 'Amazon']

17. Elimine las 3 primeras empresas de la lista

In [37]:
it_companies[3:]

['IBM', 'Google', 'Google', 'Facebook', 'Apple', 'Amazon']

18. Elimine la última empresa informática de la lista

In [38]:
it_companies[:-1]

['Oracle',
 'OpenAI',
 'Microsoft',
 'IBM',
 'Google',
 'Google',
 'Facebook',
 'Apple']

19. Eliminar todas las empresas de TI de la lista

In [40]:
it_companies.clear()
it_companies

[]

20. Une las listas siguientes y llama a la lista **fin**:

```python
front_end = [['HTML', 'CSS'], 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
```

In [43]:
front_end = [['HTML', 'CSS'], 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
fin=front_end+back_end

21. De la lista **end** imprimir 'HTML'

In [45]:
print(fin[0][0])

HTML

22. En la lista final, imprima la "C" de la palabra "CSS".

In [46]:
print(fin[0][1][0])

C

### Ejercicio 3.

¿Sabes que puedes crear tuplas con un solo elemento?

1. En la celda de abajo, define una variable **tup** con un solo elemento "T".

Pista: tienes que añadir una coma (,) después del elemento único.

In [48]:
tup=("T",)

2. Imprime el tipo de tup.
Asegúrese de que su tipo es correcto (es decir, tupla en lugar de str).

In [49]:
type(tup)

tuple

3. Ahora intenta añadir los siguientes elementos a **tup**.
¿Eres capaz de hacerlo? Explícalo.

`"H", "E", " ", "B", "R", "I", "D", "G", "E",`

In [ ]:
tup.__add__(`"H", "E", " ", "B", "R", "I", "D", "G", "E",`)

4. ¿Qué tal reasignar un nuevo valor a una tupla existente?

Reasigna los siguientes elementos a **tup**.

¿Eres capaz de hacerlo? Explícalo.


`"T", "H", "E", " ", "B", "R", "I", "D", "G", "E",`

### Ejercicio 4.

1. Convierte **lista_repes** en un *conjunto* para obtener sólo los valores únicos de la lista, asignándolo a una variable llamada **mi_conjunto**.

In [14]:
lista_repes = ["data", "data", "data", "science", "science", "python", "python", "diomedes", "diomedes", "diomedes", "diomedes", "clara", "gabriel", "gabriel", "gabriel"]

2. Intenta imprimir el primer elemento de **mi_conjunto**.

Lo has hecho bien si obtienes *TypeError: 'set' object is not subscriptable*.

3. Convierte **mi_conjunto** en una lista, utilizando la función `list()`.

¿Puedes imprimir ahora el primer elemento?