# Occupation

### Paso 1. Importar librerias

In [1]:
import pandas as pd
import numpy as  np
import matplotlib.pyplot as plt

### Paso 2. Importar el conjunto de datos de esta [dirección](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

### Paso 3. Asígnalo a una variable llamada usuarios.

In [2]:
usuarios=pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user',sep='|')
usuarios

     user_id  age gender     occupation zip_code
0          1   24      M     technician    85711
1          2   53      F          other    94043
2          3   23      M         writer    32067
3          4   24      M     technician    43537
4          5   33      F          other    15213
..       ...  ...    ...            ...      ...
938      939   26      F        student    33319
939      940   32      M  administrator    02215
940      941   20      M        student    97229
941      942   48      F      librarian    78209
942      943   22      M        student    77841

[943 rows x 5 columns]

### Paso 4. Descubre cuál es la edad media por ocupación

In [3]:
usuarios.groupby('occupation')['age'].mean()

occupation
administrator    38.746835
artist           31.392857
doctor           43.571429
educator         42.010526
engineer         36.388060
entertainment    29.222222
executive        38.718750
healthcare       41.562500
homemaker        32.571429
lawyer           36.750000
librarian        40.000000
marketing        37.615385
none             26.555556
other            34.523810
programmer       33.121212
retired          63.071429
salesman         35.666667
scientist        35.548387
student          22.081633
technician       33.148148
writer           36.311111
Name: age, dtype: float64

### Paso 5. Descubra la proporción de Hombres por ocupación y ordénela de mayor a menor

#### Forma 1

In [26]:
perc_masc_totales =(usuarios.query("gender=='M'").groupby('occupation').user_id.count() / usuarios.groupby('occupation').user_id.count()).sort_values(ascending=False)*100
perc_masc_totales

SyntaxError: invalid syntax (170616177.py, line 2)

#### Forma 2

In [15]:
perc_masc_totales = usuarios['gender'].eq('M').groupby(usuarios['occupation']).transform('mean').sort_values(ascending=False)
perc_masc_totales

occupation
doctor           100.000000
engineer          97.014925
technician        96.296296
retired           92.857143
programmer        90.909091
executive         90.625000
scientist         90.322581
entertainment     88.888889
lawyer            83.333333
salesman          75.000000
educator          72.631579
student           69.387755
other             65.714286
marketing         61.538462
writer            57.777778
none              55.555556
administrator     54.430380
artist            53.571429
librarian         43.137255
healthcare        31.250000
homemaker         14.285714
dtype: float64

#### Forma 3

In [25]:
perc_masc_totales=100*usuarios.groupby('occupation')['gender'].apply(lambda x: (x == 'M').mean()).sort_values(ascending=False)
perc_masc_totales

occupation
doctor           100.000000
engineer          97.014925
technician        96.296296
retired           92.857143
programmer        90.909091
executive         90.625000
scientist         90.322581
entertainment     88.888889
lawyer            83.333333
salesman          75.000000
educator          72.631579
student           69.387755
other             65.714286
marketing         61.538462
writer            57.777778
none              55.555556
administrator     54.430380
artist            53.571429
librarian         43.137255
healthcare        31.250000
homemaker         14.285714
Name: gender, dtype: float64

### Paso 6. Para cada ocupación, calcule las edades mínima y máxima

### Paso 7. Para cada combinación de ocupación y sexo, calcule la edad media

### Paso 8.  Para cada ocupación, presente el porcentaje de mujeres y hombres