# Regiment

### Paso 1. Importar librerias

In [3]:
import pandas as pd
import numpy as np

### Paso 2. Cree el DataFrame con los siguientes valores:

In [1]:
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'], 
        'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'], 
        'name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze', 'Jacon', 'Ryaner', 'Sone', 'Sloan', 'Piger', 'Riani', 'Ali'], 
        'preTestScore': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70, 25, 94, 57, 62, 70, 62, 70]}

### Paso 3. Asígnalo a una variable llamada regimiento.
##### No olvides nombrar cada columna

In [5]:
regimiento=pd.DataFrame(raw_data)
regimiento

      regiment company      name  preTestScore  postTestScore
0   Nighthawks     1st    Miller             4             25
1   Nighthawks     1st  Jacobson            24             94
2   Nighthawks     2nd       Ali            31             57
3   Nighthawks     2nd    Milner             2             62
4     Dragoons     1st     Cooze             3             70
5     Dragoons     1st     Jacon             4             25
6     Dragoons     2nd    Ryaner            24             94
7     Dragoons     2nd      Sone            31             57
8       Scouts     1st     Sloan             2             62
9       Scouts     1st     Piger             3             70
10      Scouts     2nd     Riani             2             62
11      Scouts     2nd       Ali             3             70

### Paso 4. ¿Cuál es la puntuación media preTestScore del regimiento Nighthawks?

In [17]:
regimiento.query("regiment=='Nighthawks'")['preTestScore'].mean()

15.25

### Paso 5. Presentar estadísticas generales por empresa

In [19]:
regimiento.groupby('company').describe().T

company                    1st        2nd
preTestScore  count   6.000000   6.000000
              mean    6.666667  15.500000
              std     8.524475  14.652645
              min     2.000000   2.000000
              25%     3.000000   2.250000
              50%     3.500000  13.500000
              75%     4.000000  29.250000
              max    24.000000  31.000000
postTestScore count   6.000000   6.000000
              mean   57.666667  67.000000
              std    27.485754  14.057027
              min    25.000000  57.000000
              25%    34.250000  58.250000
              50%    66.000000  62.000000
              75%    70.000000  68.000000
              max    94.000000  94.000000

### Paso 6. ¿Cuál es la media de la puntuación preTest de cada empresa?

In [25]:
regimiento.groupby('company')['preTestScore'].agg('mean')

company
1st     6.666667
2nd    15.500000
Name: preTestScore, dtype: float64

### Paso 7. Presentar las puntuaciones medias preTest agrupadas por regimiento y compañía.

In [26]:
regimiento.groupby(['regiment','company'])['preTestScore'].agg('mean')

regiment    company
Dragoons    1st         3.5
            2nd        27.5
Nighthawks  1st        14.0
            2nd        16.5
Scouts      1st         2.5
            2nd         2.5
Name: preTestScore, dtype: float64

### Paso 8. Presentar las puntuaciones medias preTestScores agrupadas por regimiento y compañía sin indexación heirárquica.

In [29]:
regimiento.groupby(['regiment','company'])['preTestScore'].agg('mean').reset_index()

     regiment company  preTestScore
0    Dragoons     1st           3.5
1    Dragoons     2nd          27.5
2  Nighthawks     1st          14.0
3  Nighthawks     2nd          16.5
4      Scouts     1st           2.5
5      Scouts     2nd           2.5

### Paso 9. Agrupar todo el marco de datos por regimiento y compañía

In [57]:
regimiento.groupby(['regiment','company'])

### Paso 10. ¿Cuál es el número de observaciones en cada regimiento y compañía

In [52]:
regimiento.groupby(['regiment','company']).size()

regiment    company
Dragoons    1st        2
            2nd        2
Nighthawks  1st        2
            2nd        2
Scouts      1st        2
            2nd        2
dtype: int64

### Paso 11. Iterar sobre un grupo e imprimir el nombre y todos los datos del regimiento. Haz una función llamada agrupa(variable)

In [65]:
def agrupa(name_col):
    grupos = regimiento.groupby(name_col)
    for col, datos_grupo in grupos:
            print(f"Grupo: {col}")
            print(datos_grupo)
            print("\n")

In [66]:
agrupa('regiment')

Grupo: Dragoons
   regiment company    name  preTestScore  postTestScore
4  Dragoons     1st   Cooze             3             70
5  Dragoons     1st   Jacon             4             25
6  Dragoons     2nd  Ryaner            24             94
7  Dragoons     2nd    Sone            31             57


Grupo: Nighthawks
     regiment company      name  preTestScore  postTestScore
0  Nighthawks     1st    Miller             4             25
1  Nighthawks     1st  Jacobson            24             94
2  Nighthawks     2nd       Ali            31             57
3  Nighthawks     2nd    Milner             2             62


Grupo: Scouts
   regiment company   name  preTestScore  postTestScore
8    Scouts     1st  Sloan             2             62
9    Scouts     1st  Piger             3             70
10   Scouts     2nd  Riani             2             62
11   Scouts     2nd    Ali             3             70

In [67]:
agrupa('company')

Grupo: 1st
     regiment company      name  preTestScore  postTestScore
0  Nighthawks     1st    Miller             4             25
1  Nighthawks     1st  Jacobson            24             94
4    Dragoons     1st     Cooze             3             70
5    Dragoons     1st     Jacon             4             25
8      Scouts     1st     Sloan             2             62
9      Scouts     1st     Piger             3             70


Grupo: 2nd
      regiment company    name  preTestScore  postTestScore
2   Nighthawks     2nd     Ali            31             57
3   Nighthawks     2nd  Milner             2             62
6     Dragoons     2nd  Ryaner            24             94
7     Dragoons     2nd    Sone            31             57
10      Scouts     2nd   Riani             2             62
11      Scouts     2nd     Ali             3             70