# Ex1 - Filtrar y ordenar datos

### Paso 1. Importar las bibliotecas necesarias

In [2]:
import pandas as pd
import numpy as np

### Paso 2. Importar el conjunto de datos de esta [dirección](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [3]:
url='https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

### Paso 3. Asígnalo a una variable llamada chipo.

In [75]:
chipo=pd.read_csv(url,sep='\t')
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

# Nombre del producto de valor máximo

In [76]:
chipo['price']=list(map(lambda s: s.replace('$',""),chipo['item_price']))

In [77]:
chipo['price']=chipo['price'].astype(float)
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
 5   price               4622 non-null   float64
dtypes: float64(1), int64(2), object(3)
memory usage: 216.8+ KB

In [22]:
chipo[chipo['price']==max(chipo['price'])]['item_name']

3598    Chips and Fresh Tomato Salsa
Name: item_name, dtype: object

### Paso 4. ¿Cuántos productos cuestan más de 10,00 dólares?

In [23]:
chipo[chipo['price']>10]

,order_id,quantity,item_name,choice_description,item_price,price
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98,10.98
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75,11.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25,11.25
23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",$10.98,10.98
...,...,...,...,...,...,...
4610,1830,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75,11.75
4611,1830,1,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",$11.25,11.25
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25,11.25

### Paso 5. ¿Cuál es el precio de cada artículo?
###### imprimir un marco de datos con sólo dos columnas nombre_artículo y precio_artículo

In [35]:
chipo[chipo['price'] > 10][['item_name', 'price']]

               item_name  price
4           Chicken Bowl  16.98
5           Chicken Bowl  10.98
7          Steak Burrito  11.75
13          Chicken Bowl  11.25
23       Chicken Burrito  10.98
...                  ...    ...
4610       Steak Burrito  11.75
4611      Veggie Burrito  11.25
4617       Steak Burrito  11.75
4618       Steak Burrito  11.75
4619  Chicken Salad Bowl  11.25

[1130 rows x 2 columns]

### Paso 6. Ordenar por el nombre del artículo

In [38]:
chipo.sort_values(by='item_name')

,order_id,quantity,item_name,choice_description,item_price,price
3389,1360,2,6 Pack Soft Drink,[Diet Coke],$12.98,12.98
341,148,1,6 Pack Soft Drink,[Diet Coke],$6.49,6.49
1849,749,1,6 Pack Soft Drink,[Coke],$6.49,6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],$6.49,6.49
2713,1076,1,6 Pack Soft Drink,[Coke],$6.49,6.49
...,...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75,8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",$8.75,8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",$8.49,8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25,11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",$8.49,8.49

### Paso 7. ¿Cuál fue la cantidad pedida del artículo más caro? 2 formas

In [39]:
chipo[chipo['price']==max(chipo['price'])]['quantity']

3598    15
Name: quantity, dtype: int64

In [43]:
chipo.query('price == @chipo["price"].max()')['quantity']

3598    15
Name: quantity, dtype: int64

In [45]:
chipo[chipo['price']==chipo['price'].max()]['quantity']

3598    15
Name: quantity, dtype: int64

### Paso 8. ¿Cuántas veces pidió ensalada de verduras?

In [73]:
chipo['item_name'].unique()
chipo[chipo['item_name']=='Veggie Salad'].size

36

### Paso 9. ¿Cuántas veces pidió alguien más de un refresco en lata?

In [250]:
chipo['choices']=chipo['choice_description'].str.replace(']',"").str.replace('[',"")

In [251]:
chipo['choices']=chipo['choices'].fillna('Nothing')

In [253]:
chipo['choices']=chipo['choices'].map(lambda s: s.split(','))

In [254]:
chipo['choices']

0                                               [Nothing]
1                                            [Clementine]
2                                                 [Apple]
3                                               [Nothing]
4       [Tomatillo-Red Chili Salsa (Hot),  Black Beans...
                              ...
4617    [Fresh Tomato Salsa,  Rice,  Black Beans,  Sou...
4618    [Fresh Tomato Salsa,  Rice,  Sour Cream,  Chee...
4619    [Fresh Tomato Salsa,  Fajita Vegetables,  Pint...
4620    [Fresh Tomato Salsa,  Fajita Vegetables,  Lett...
4621    [Fresh Tomato Salsa,  Fajita Vegetables,  Pint...
Name: choices, Length: 4622, dtype: object

In [255]:
def eliminar_comas(elemento):
    return [item.replace(',', '') for item in elemento]

In [260]:
chipo['choices']=chipo['choices'].apply(eliminar_comas)

In [262]:
elems=list(chipo['choices'].explode().unique())

In [275]:
refrescos_en_lata = ['Sprite', 'Coca Cola', 'Diet Coke', 'Coke', 'Mountain Dew', 'Dr. Pepper', 'Diet Dr. Pepper', 'Nestea']
refrescos_en_lata = [ 'Coca Cola']

In [276]:
pedidos_con_refresco=chipo['choices'].apply(lambda lista: any(valor in lista for valor in refrescos_en_lata))

In [285]:
len(chipo.query("item_name == 'Canned Soda' and quantity > 1")['order_id'].unique())

18