In [1]:
import pandas as pd
import sqlite3

In [ ]:
import os
os.getcwd()

In [2]:
# Conectamos con la base de datos chinook.db
connection = sqlite3.connect("data/BBDD.db")

# Obtenemos un cursor que utilizaremos para hacer las queries
crsr = connection.cursor()

In [4]:
# Con esta funci√≥n leemos los datos y lo pasamos a un DataFrame de Pandas
def sql_query(query):

    # Ejecuta la query
    crsr.execute(query)

    # Almacena los datos de la query 
    ans = crsr.fetchall()

    # Obtenemos los nombres de las columnas de la tabla
    names = [description[0] for description in crsr.description]

    return pd.DataFrame(ans,columns=names)

In [7]:
res = crsr.execute("SELECT name FROM sqlite_master WHERE type='table'")
for name in res:
    print(name[0])

cerveza

# Tabla Cerveza

In [6]:
query_cerveza= """
CREATE TABLE cerveza (
  CodC VARCHAR(3) PRIMARY KEY,
  Envase TEXT,
  Capacidad FLOAT,
  Stock INTEGER
);
"""
crsr.execute(query_cerveza)

In [8]:
pd.read_sql("SELECT * FROM cerveza",connection)

Empty DataFrame
Columns: [CodC, Envase, Capacidad, Stock]
Index: []

# Tabla Bares

In [11]:
query_Bares= """
CREATE TABLE Bares (
  CodB VARCHAR(3) PRIMARY KEY,
  Nombre  VARCHAR(50),
  Cif  VARCHAR(50),
  Localidad INTEGER
);
"""
crsr.execute(query_Bares)

OperationalError: table Bares already exists

# Tabla Empleados

In [12]:
query_Empleados= """
CREATE TABLE Empleados (
  CodE VARCHAR(3) PRIMARY KEY,
  Nombre  VARCHAR(50),
  Sueldo INTEGER
);
"""
crsr.execute(query_Empleados)

# Tabla Reparto

In [14]:
query_Reparto= """
CREATE TABLE Reparto (
  CodE VARCHAR(3),
  CodB VARCHAR(3),
  CodC VARCHAR(3),
  Fecha  DATE,
  Cantidad INTEGER
);
"""
crsr.execute(query_Reparto)